BODY {
    color:#333;
    margin:0;
    background-color:#FFF;
}

A {
    outline-style:none;
    text-decoration:none;
    color:#213F9A;
}

A:visited {
    color:#46219a;
}

.headerOff {
    height:28px;
    background:url(../images/headerBG.png) repeat-x top;
    background-position:0 0;
}

.headerOver {
    height:28px;
    background:url(../images/headerBG.png) repeat-x top;
    background-position:0 -28px;
}

.center {
    margin:0 auto;
}

.headerOff #optionBar,.headerOff #optionBar A {
    color:#6E6E6E;
}

#pageHeader #headerContent {
    text-align:left;
    margin:0 auto;
}

#pageHeader #headerContent #optionBar {
    white-space:nowrap;
    height:28px;
    line-height:28px;
    font-size:11px;
    font-size:12px;
    font-family:sans-serif;
}

#optionBar {
    height:28px;
}

#optionBar #wuSites {
    float:left;
    overflow:hidden;
}


#optionBar #wuLinks {
    height:28px;
}

#optionBar #wuLinks A {
    float:right;
    display:block;
    height:28px;
    line-height:28px;
    overflow:hidden;
    background:url(../images/optionBarGrad.png) no-repeat top right;
    padding:0 10px;
}

#optionBar #wuLinks #wuMailGot {
    color:#A52E16;
    font-weight:700;
}

#optionBar #wuLinks SPAN {
    float:right;
    display:block;
    height:28px;
    line-height:28px;
    background:url(../images/optionBarGrad.png) no-repeat top right;
}

#optionBar #wuSites A,#optionBar #wuSites SPAN {
    height:28px;
    line-height:28px;
    background:url(../images/optionBarGrad.png) no-repeat top right;
    padding:0 10px;
}

#optionBar #wuSites A:hover,#optionBar #wuLinks A:hover {
    background:#BBBFCF;
    border-right:1px solid #BEBEBE;
    border-left:1px solid #BEBEBE;
    margin-left:-1px;
    padding:0 9px 0 10px;
}

#PresentationAudio,
#PresentationImage,
#PresentationVideo,
#libraryTableOnlineSources,
#libraryTableFolders,
#rendererTable {
    border-collapse: collapse;
    border: 1px solid #666666;
    font: normal 12px verdana, arial, helvetica, sans-serif;
    color: #363636;
    background: #f6f6f6;
    text-align:left;
}
#libraryTableFolders,
#libraryTableOnlineSources {
    width: 920px;
    }
#libraryTableOnlineSources td:nth-child(1), #libraryTableOnlineSources th:nth-child(1) { min-width: 20px; padding:5px; }
#libraryTableOnlineSources td:nth-child(2), #libraryTableOnlineSources th:nth-child(2) { min-width: 120px; padding:5px; }
#libraryTableOnlineSources td:nth-child(3), #libraryTableOnlineSources th:nth-child(3) { min-width: 80px; padding:5px; }
#libraryTableOnlineSources td:nth-child(4), #libraryTableOnlineSources th:nth-child(4) { min-width: 60px; text-align:center; padding:5px; }
#libraryTableOnlineSources td:nth-child(5), #libraryTableOnlineSources th:nth-child(5) { min-width: 130px; text-align:center; padding:5px; }
#libraryTableOnlineSources td:nth-child(6), #libraryTableOnlineSources th:nth-child(6) { min-width: 80px; text-align:center; padding:5px; }
#libraryTableOnlineSources td:nth-child(7), #libraryTableOnlineSources th:nth-child(7) { min-width: 80px; text-align:center; padding:5px; }
#libraryTableOnlineSources td:nth-child(8), #libraryTableOnlineSources th:nth-child(8) { width: 340px; padding:5px; }
#libraryTableOnlineSources td:nth-child(9), #libraryTableOnlineSources th:nth-child(9) { width: 10px; padding:5px; }


#libraryTableFolders td:nth-child(1), #libraryTableFolders th:nth-child(1) { min-width: 20px; padding:5px; }
#libraryTableFolders td:nth-child(2), #libraryTableFolders th:nth-child(2) { width: 610px; padding:5px; }
#libraryTableFolders td:nth-child(3), #libraryTableFolders th:nth-child(3) { min-width: 130px; padding:5px; }
#libraryTableFolders td:nth-child(4), #libraryTableFolders th:nth-child(4) { min-width: 30px; text-align:center; padding:5px; }
#libraryTableFolders td:nth-child(5), #libraryTableFolders th:nth-child(5) { min-width: 30px; text-align:center; padding:5px; }
#libraryTableFolders td:nth-child(6), #libraryTableFolders th:nth-child(6) { min-width: 30px; text-align:center; padding:5px; }
#libraryTableFolders td:nth-child(7), #libraryTableFolders th:nth-child(7) { min-width: 30px; text-align:center; padding:5px; }
#libraryTableFolders td:nth-child(8), #libraryTableFolders th:nth-child(8) { width: 30px; padding:5px; }
#libraryTableFolders td:nth-child(9), #libraryTableFolders th:nth-child(9) { width: 10px; padding:5px; }



#PresentationAudio thead,
#PresentationImage thead,
#PresentationVideo thead,
#libraryTableOnlineSources thead,
#libraryTableFolders thead,
#rendererTable thead {
    background:url(../images/tbl_hdr_bg.png) repeat-x;
    text-align:left;
    height:30px;
}
#PresentationAudio thead th,
#PresentationImage thead th,
#PresentationVideo thead th,
/*#libraryTableFolders thead th,*/
#rendererTable thead th {
    padding:5px;
}
#libraryTableFolders thead > tr,
#libraryTableOnlineSources thead > tr {
      display: block;
      position: relative;
    }
#PresentationAudio tr.odd,
#PresentationImage tr.odd,
#PresentationVideo tr.odd,
#libraryTableOnlineSources tbody tr.odd,
#libraryTableFolders tbody tr.odd,
#rendererTable tr.odd {
    background: #f1f1f1;
}
#PresentationAudio tr.even,
#PresentationImage tr.even,
#PresentationVideo tr.even,
#libraryTableOnlineSources tbody tr.even,
#libraryTableFolders tbody tr.even,
#rendererTable tr.even {
    background: #f6f6f6;
}
#libraryTableFolders tbody,
#libraryTableOnlineSources tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 200px;
}
/*#libraryTableOnlineSources tbody td,*/
/*#libraryTableFolders tbody td,*/
#rendererTable tbody td {
    padding:4px;
    vertical-align: top;
}

#upl{
    display:none;
}
